In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import seaborn as sns
sns.set_context("notebook")
import zipfile
from pathlib import Path
plt.style.use('fivethirtyeight')

In [2]:
bus = pd.read_csv(Path("businesses.csv"), encoding="ISO-8859-1")
ins = pd.read_csv(Path("inspections.csv"))
vio = pd.read_csv(Path("violations.csv"))

In [3]:
bus.head()
len(bus["business_id"].unique())

6399

In [35]:
ins.sort_values("date").head()

,business_id,score,date,type,score_level,diffFromPrev,prevScore
5061,11492,88,20150219,routine,3,NaN,NaN
11294,80312,92,20150219,routine,4,NaN,NaN
413,782,93,20150219,routine,4,NaN,NaN
4599,7450,90,20150219,routine,3,NaN,NaN
10513,77755,100,20150219,routine,4,NaN,NaN

In [5]:
vio.head()

   business_id      date                                        description
0           19  20171211  Inadequate food safety knowledge or lack of ce...
1           19  20171211   Unapproved or unmaintained equipment or utensils
2           19  20160513  Food safety certificate or food handler card n...
3           19  20160513  Unclean or degraded floors walls or ceilings  ...
4           19  20160513  Unapproved or unmaintained equipment or utensi...

# Business data

In [6]:
# drop latitude and logitude not complete
#bus.dropna(subset=["latitude","longitude"], inplace=True, axis=0, how="any")

# some missing zip_code
# bus[bus["zip_code"].str[:2]!="94"]

In [7]:
# extract only restaurnats in SF
validZip = ["94102", "94103", "94104", "94105", "94107", "94108",
            "94109", "94110", "94111", "94112", "94114", "94115",
            "94116", "94117", "94118", "94121", "94122", "94123", 
            "94124", "94127", "94131", "94132", "94133", "94134"]
bus['zip_code'] = bus['postal_code'].str[:5]
bus_sf = bus[bus["zip_code"].isin(validZip)]
bus_sf.head() #3169 rows

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,zip_code
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262,94109
1,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,94104
2,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,94133
3,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,+14156415051,94110
4,48,ART'S CAFE,747 IRVING ST,San Francisco,CA,94122,37.764013,-122.465749,+14156657440,94122

In [8]:
len(ins[ins["business_id"]==19].index)

2

In [9]:
# put number of inspections into business_table
def calSumIns(bid):
    return len(ins[ins["business_id"]==bid].index)
    
bus_sf["totalIns"]=bus_sf["business_id"].apply(calSumIns)
#bus_sf["numIns2015"]
#bus_sf["numIns2016"]
#bus_sf["numIns2017"]
#bus_sf["numIns2018"]

/Users/weiyilee/miniconda3/envs/data100/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [10]:
bus_sf.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,zip_code,totalIns
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262,94109,2
1,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,94104,3
2,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,94133,1
3,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,+14156415051,94110,4
4,48,ART'S CAFE,747 IRVING ST,San Francisco,CA,94122,37.764013,-122.465749,+14156657440,94122,2

# Inspection data

In [11]:
# how many unique business_id in inspection: 5758
len(ins["business_id"].unique())

5758

In [12]:
# how many unique business_id in business: 3169
len(bus_sf["business_id"].unique())

6092

In [13]:
# export bus_sf
bus_sf.to_csv("business_sf.csv")

In [14]:
ins.groupby("business_id")

In [15]:
def scoreLevel(data):
    if data<=70:
        return "1"
    elif data<=85:
        return "2"
    elif data<=90:
        return "3"
    else:
        return "4"
ins["score_level"]=ins["score"].apply(scoreLevel)

In [17]:
ins.head()

   business_id  score      date     type score_level
0           19     94  20171211  routine           4
1           19     94  20160513  routine           4
2           24     96  20160311  routine           4
3           24     98  20161005  routine           4
4           24     98  20171101  routine           4

In [18]:
bus_sf[bus_sf["business_id"]==19]["totalIns"].values[0]

2

In [19]:
numIns2numIDs = ins[["business_id"]].groupby("business_id").size().to_dict()
numIns2numIDs={k:numIns2numIDs[k] for k in numIns2numIDs if numIns2numIDs[k]>1}
len(numIns2numIDs)

4525

In [20]:
def group_to_list(group):
    return list(group)

scores_pairs_by_business = ins[ins["business_id"].isin(numIns2numIDs)][["business_id", "score", "date"]].sort_values("date").groupby("business_id", as_index=False).agg(group_to_list)
scores_pairs_by_business.head()

   business_id             score                                      date
0           19          [94, 94]                      [20160513, 20171211]
1           24      [96, 98, 98]            [20160311, 20161005, 20171101]
2           45  [78, 84, 88, 85]  [20160104, 20160614, 20170307, 20170914]
3           48          [94, 94]                      [20160630, 20180216]
4           54         [100, 87]                      [20150526, 20170215]

In [21]:
ins=ins.sort_values(["business_id", "date"]).reset_index(drop=True)
ins.head()

   business_id  score      date     type score_level
0           19     94  20160513  routine           4
1           19     94  20171211  routine           4
2           24     96  20160311  routine           4
3           24     98  20161005  routine           4
4           24     98  20171101  routine           4

In [27]:
prev_score=-1
prev_id=None
temp={}
temp2={}
for k,v in ins.iterrows():
    if v["business_id"]==prev_id:
        temp[k]=v["score"]-prev_score
        temp2[k]=prev_score
    else:
        prev_id=v["business_id"]
        temp[k]=None
        temp2[k]=None
    prev_score=v["score"]
temp

{0: None,
 1: 0,
 2: None,
 3: 2,
 4: 0,
 5: None,
 6: None,
 7: 6,
 8: 4,
 9: -3,
 10: None,
 11: 0,
 12: None,
 13: -13,
 14: None,
 15: 2,
 16: 2,
 17: None,
 18: -3,
 19: None,
 20: 2,
 21: 4,
 22: -4,
 23: None,
 24: -2,
 25: 2,
 26: -4,
 27: None,
 28: -3,
 29: 7,
 30: -13,
 31: None,
 32: 7,
 33: -4,
 34: None,
 35: -2,
 36: 2,
 37: None,
 38: 5,
 39: -2,
 40: None,
 41: -2,
 42: None,
 43: 2,
 44: None,
 45: 3,
 46: -10,
 47: None,
 48: -2,
 49: 6,
 50: -9,
 51: None,
 52: 2,
 53: -2,
 54: None,
 55: 6,
 56: None,
 57: -8,
 58: 2,
 59: None,
 60: -15,
 61: 7,
 62: None,
 63: None,
 64: 20,
 65: None,
 66: 4,
 67: None,
 68: -2,
 69: None,
 70: -5,
 71: None,
 72: -8,
 73: 9,
 74: None,
 75: 0,
 76: None,
 77: -7,
 78: 0,
 79: None,
 80: 5,
 81: None,
 82: 13,
 83: -21,
 84: None,
 85: -9,
 86: -4,
 87: None,
 88: 10,
 89: -4,
 90: -7,
 91: None,
 92: -8,
 93: None,
 94: 3,
 95: 4,
 96: None,
 97: 8,
 98: 0,
 99: None,
 100: -4,
 101: None,
 102: 4,
 103: None,
 104: 2,
 105: 0,
 106: None,
 107: -6,
 108: None,
 109: -2,
 110: None,
 111: None,
 112: 0,
 113: -4,
 114: 2,
 115: 1,
 116: None,
 117: None,
 118: 2,
 119: None,
 120: 2,
 121: None,
 122: 4,
 123: None,
 124: 14,
 125: None,
 126: 3,
 127: None,
 128: None,
 129: 2,
 130: -4,
 131: None,
 132: -4,
 133: -6,
 134: None,
 135: -3,
 136: 9,
 137: None,
 138: None,
 139: -2,
 140: -3,
 141: None,
 142: 0,
 143: 2,
 144: None,
 145: 0,
 146: 0,
 147: None,
 148: 4,
 149: -8,
 150: 2,
 151: None,
 152: None,
 153: 8,
 154: None,
 155: 10,
 156: 1,
 157: None,
 158: None,
 159: 7,
 160: 1,
 161: 4,
 162: None,
 163: 0,
 164: -2,
 165: None,
 166: 18,
 167: None,
 168: 20,
 169: -8,
 170: 15,
 171: None,
 172: 1,
 173: None,
 174: 5,
 175: -2,
 176: -5,
 177: None,
 178: 2,
 179: 2,
 180: None,
 181: -16,
 182: 9,
 183: None,
 184: -6,
 185: None,
 186: -1,
 187: None,
 188: -9,
 189: None,
 190: 0,
 191: None,
 192: 3,
 193: None,
 194: 20,
 195: None,
 196: -8,
 197: 2,
 198: None,
 199: None,
 200: -6,
 201: -8,
 202: None,
 203: 0,
 204: None,
 205: None,
 206: 0,
 207: 7,
 208: None,
 209: -15,
 210: None,
 211: None,
 212: 5,
 213: None,
 214: -4,
 215: None,
 216: None,
 217: 2,
 218: None,
 219: -7,
 220: None,
 221: 9,
 222: -4,
 223: None,
 224: -4,
 225: 2,
 226: None,
 227: 5,
 228: None,
 229: None,
 230: 0,
 231: None,
 232: 8,
 233: None,
 234: 1,
 235: -6,
 236: None,
 237: -3,
 238: 7,
 239: None,
 240: 2,
 241: None,
 242: 9,
 243: 0,
 244: None,
 245: 4,
 246: None,
 247: 4,
 248: None,
 249: None,
 250: -7,
 251: None,
 252: 7,
 253: None,
 254: 0,
 255: None,
 256: 0,
 257: 4,
 258: None,
 259: None,
 260: -6,
 261: None,
 262: 0,
 263: None,
 264: None,
 265: -2,
 266: None,
 267: None,
 268: 3,
 269: None,
 270: -3,
 271: 10,
 272: 1,
 273: -5,
 274: None,
 275: 20,
 276: None,
 277: 1,
 278: None,
 279: 3,
 280: None,
 281: -2,
 282: -4,
 283: None,
 284: -6,
 285: 0,
 286: None,
 287: -18,
 288: 10,
 289: -4,
 290: None,
 291: 11,
 292: None,
 293: -1,
 294: 1,
 295: None,
 296: 6,
 297: None,
 298: -6,
 299: None,
 300: -3,
 301: 1,
 302: -6,
 303: 4,
 304: None,
 305: -4,
 306: -9,
 307: None,
 308: 0,
 309: None,
 310: 1,
 311: 2,
 312: None,
 313: 4,
 314: 0,
 315: -6,
 316: None,
 317: 3,
 318: -6,
 319: None,
 320: -4,
 321: None,
 322: 0,
 323: -4,
 324: None,
 325: -4,
 326: -5,
 327: None,
 328: 2,
 329: -8,
 330: None,
 331: -5,
 332: -9,
 333: None,
 334: None,
 335: 0,
 336: 14,
 337: 0,
 338: None,
 339: -2,
 340: 1,
 341: 4,
 342: -5,
 343: None,
 344: -8,
 345: None,
 346: 5,
 347: 8,
 348: -3,
 349: None,
 350: 5,
 351: None,
 352: 6,
 353: None,
 354: -8,
 355: None,
 356: -2,
 357: None,
 358: -8,
 359: -6,
 360: None,
 361: -5,
 362: -2,
 363: 4,
 364: None,
 365: -6,
 366: None,
 367: None,
 368: 8,
 369: None,
 370: None,
 371: 0,
 372: 2,
 373: 0,
 374: None,
 375: None,
 376: None,
 377: -1,
 378: -5,
 379: None,
 380: 6,
 381: None,
 382: 0,
 383: 0,
 384: None,
 385: -2,
 386: -10,
 387: None,
 388: 0,
 389: -2,
 390: 4,
 391: None,
 392: 9,
 393: None,
 394: 1,
 395: 4,
 396: None,
 397: -3,
 398: None,
 399: None,
 400: -10,
 401: 6,
 402: 2,
 403: None,
 404: None,
 405: 0,
 406: None,
 407: 2,
 408: None,
 409: 5,
 410: None,
 411: 5,
 412: None,
 413: None,
 414: 3,
 415: 0,
 416: None,
 417: -14,
 418: 6,
 419: None,
 420: -4,
 421: -5,
 422: 11,
 423: None,
 424: 0,
 425: 2,
 426: -2,
 427: None,
 428: -7,
 429: 11,
 430: None,
 431: -8,
 432: 6,
 433: None,
 434: 29,
 435: -2,
 436: None,
 437: -2,
 438: None,
 439: None,
 440: 4,
 441: -9,
 442: None,
 443: -17,
 444: 7,
 445: None,
 446: 0,
 447: 1,
 448: None,
 449: -2,
 450: 3,
 451: None,
 452: 4,
 453: 5,
 454: None,
 455: 6,
 456: None,
 457: 4,
 458: None,
 459: 5,
 460: None,
 461: 2,
 462: 9,
 463: None,
 464: None,
 465: 1,
 466: -2,
 467: None,
 468: -2,
 469: -9,
 470: None,
 471: 0,
 472: None,
 473: 23,
 474: 4,
 475: None,
 476: 9,
 477: -3,
 478: 9,
 479: None,
 480: 2,
 481: 4,
 482: None,
 483: -6,
 484: 16,
 485: 4,
 486: None,
 487: 10,
 488: None,
 489: -2,
 490: None,
 491: 4,
 492: 1,
 493: None,
 494: 4,
 495: -2,
 496: None,
 497: 4,
 498: None,
 499: 0,
 500: None,
 501: 4,
 502: None,
 503: -8,
 504: None,
 505: None,
 506: 15,
 507: -8,
 508: None,
 509: 1,
 510: None,
 511: 2,
 512: None,
 513: 4,
 514: -6,
 515: None,
 516: -7,
 517: 11,
 518: None,
 519: -4,
 520: None,
 521: -1,
 522: 0,
 523: None,
 524: 2,
 525: 2,
 526: None,
 527: None,
 528: 0,
 529: 7,
 530: None,
 531: None,
 532: -12,
 533: None,
 534: -12,
 535: 8,
 536: None,
 537: -11,
 538: -4,
 539: 3,
 540: None,
 541: 4,
 542: -7,
 543: None,
 544: 0,
 545: -5,
 546: None,
 547: -10,
 548: -2,
 549: None,
 550: -6,
 551: 6,
 552: None,
 553: -4,
 554: -6,
 555: None,
 556: -13,
 557: 4,
 558: None,
 559: -7,
 560: -1,
 561: None,
 562: -1,
 563: None,
 564: None,
 565: None,
 566: 1,
 567: 0,
 568: None,
 569: -9,
 570: None,
 571: 4,
 572: None,
 573: 7,
 574: 4,
 575: -8,
 576: None,
 577: 1,
 578: None,
 579: 0,
 580: -3,
 581: None,
 582: -2,
 583: 12,
 584: -8,
 585: None,
 586: 4,
 587: None,
 588: -26,
 589: None,
 590: -4,
 591: 2,
 592: -2,
 593: None,
 594: -7,
 595: 3,
 596: None,
 597: 2,
 598: -7,
 599: None,
 600: -8,
 601: 8,
 602: None,
 603: -9,
 604: None,
 605: 0,
 606: None,
 607: 2,
 608: None,
 609: 6,
 610: None,
 611: 1,
 612: -11,
 613: None,
 614: 11,
 615: -7,
 616: 9,
 617: None,
 618: None,
 619: 0,
 620: 0,
 621: -4,
 622: None,
 623: -8,
 624: 0,
 625: None,
 626: -12,
 627: 5,
 628: None,
 629: -1,
 630: 2,
 631: None,
 632: -9,
 633: -2,
 634: None,
 635: None,
 636: -2,
 637: None,
 638: -15,
 639: 13,
 640: None,
 641: -2,
 642: 4,
 643: None,
 644: -8,
 645: 0,
 646: None,
 647: 6,
 648: -21,
 649: None,
 650: -4,
 651: 4,
 652: None,
 653: 16,
 654: None,
 655: None,
 656: -3,
 657: -11,
 658: None,
 659: 2,
 660: -18,
 661: 14,
 662: None,
 663: 2,
 664: -2,
 665: None,
 666: 3,
 667: -7,
 668: None,
 669: 10,
 670: -5,
 671: 0,
 672: None,
 673: None,
 674: 1,
 675: -1,
 676: -1,
 677: -1,
 678: None,
 679: 2,
 680: None,
 681: -2,
 682: None,
 683: 2,
 684: None,
 685: -2,
 686: None,
 687: 1,
 688: 1,
 689: None,
 690: -9,
 691: 15,
 692: -9,
 693: None,
 694: 0,
 695: 0,
 696: -4,
 697: None,
 698: 8,
 699: -5,
 700: None,
 701: -17,
 702: 9,
 703: None,
 704: None,
 705: -7,
 706: -1,
 707: None,
 708: 5,
 709: None,
 710: 0,
 711: None,
 712: 1,
 713: None,
 714: -7,
 715: 7,
 716: -3,
 717: None,
 718: -6,
 719: 0,
 720: -10,
 721: None,
 722: 10,
 723: 0,
 724: None,
 725: -6,
 726: None,
 727: 0,
 728: 2,
 729: None,
 730: 7,
 731: 7,
 732: None,
 733: 3,
 734: 0,
 735: None,
 736: 0,
 737: None,
 738: 10,
 739: -3,
 740: 0,
 741: None,
 742: -4,
 743: None,
 744: 7,
 745: None,
 746: 0,
 747: None,
 748: -10,
 749: 3,
 750: None,
 751: 3,
 752: -16,
 753: 7,
 754: None,
 755: -7,
 756: 7,
 757: None,
 758: 12,
 759: 7,
 760: None,
 761: 9,
 762: None,
 763: -9,
 764: None,
 765: None,
 766: -2,
 767: 0,
 768: -2,
 769: None,
 770: 0,
 771: None,
 772: 0,
 773: None,
 774: 3,
 775: 1,
 776: None,
 777: None,
 778: -3,
 779: 5,
 780: -4,
 781: None,
 782: 3,
 783: 2,
 784: 2,
 785: None,
 786: 9,
 787: None,
 788: 4,
 789: 0,
 790: 0,
 791: None,
 792: 2,
 793: None,
 794: 6,
 795: None,
 796: -7,
 797: 7,
 798: -7,
 799: None,
 800: 2,
 801: None,
 802: 0,
 803: -2,
 804: 0,
 805: None,
 806: -16,
 807: None,
 808: None,
 809: 13,
 810: -6,
 811: None,
 812: 8,
 813: None,
 814: None,
 815: 4,
 816: -4,
 817: None,
 818: 4,
 819: 5,
 820: None,
 821: None,
 822: -8,
 823: 8,
 824: -7,
 825: 7,
 826: None,
 827: -1,
 828: 0,
 829: 3,
 830: 6,
 831: -10,
 832: -4,
 833: None,
 834: -7,
 835: -3,
 836: 10,
 837: -6,
 838: 0,
 839: -17,
 840: None,
 841: 0,
 842: 0,
 843: None,
 844: 16,
 845: 5,
 846: None,
 847: None,
 848: 4,
 849: 0,
 850: None,
 851: -3,
 852: 5,
 853: None,
 854: -8,
 855: None,
 856: None,
 857: 2,
 858: -2,
 859: None,
 860: 9,
 861: -3,
 862: None,
 863: -8,
 864: None,
 865: -2,
 866: 2,
 867: None,
 868: -10,
 869: 15,
 870: None,
 871: -6,
 872: 5,
 873: -6,
 874: None,
 875: None,
 876: 4,
 877: None,
 878: 1,
 879: None,
 880: -6,
 881: 2,
 882: 2,
 883: None,
 884: -4,
 885: None,
 886: 3,
 887: -9,
 888: None,
 889: -10,
 890: -3,
 891: None,
 892: 2,
 893: -2,
 894: None,
 895: 7,
 896: 8,
 897: None,
 898: -10,
 899: -10,
 900: 5,
 901: None,
 902: 2,
 903: -2,
 904: None,
 905: -2,
 906: -11,
 907: None,
 908: -13,
 909: None,
 910: 0,
 911: -6,
 912: None,
 913: -2,
 914: None,
 915: -8,
 916: None,
 917: -2,
 918: None,
 919: -2,
 920: None,
 921: -6,
 922: 0,
 923: None,
 924: -6,
 925: 0,
 926: 2,
 927: 2,
 928: None,
 929: -3,
 930: None,
 931: -1,
 932: -7,
 933: None,
 934: -2,
 935: -10,
 936: None,
 937: 4,
 938: None,
 939: -4,
 940: -6,
 941: 6,
 942: None,
 943: 0,
 944: None,
 945: 3,
 946: -2,
 947: None,
 948: -8,
 949: None,
 950: None,
 951: -18,
 952: 5,
 953: 3,
 954: 6,
 955: None,
 956: None,
 957: -12,
 958: 14,
 959: None,
 960: 4,
 961: 0,
 962: None,
 963: -1,
 964: None,
 965: -4,
 966: None,
 967: None,
 968: -1,
 969: None,
 970: 2,
 971: None,
 972: 0,
 973: 2,
 974: None,
 975: 6,
 976: None,
 977: -3,
 978: None,
 979: -9,
 980: 1,
 981: 0,
 982: None,
 983: -2,
 984: -1,
 985: 4,
 986: None,
 987: -4,
 988: -1,
 989: 6,
 990: None,
 991: 8,
 992: -2,
 993: None,
 994: -3,
 995: None,
 996: -6,
 997: 8,
 998: 2,
 999: None,
 ...}

In [23]:
ins.head()

   business_id  score      date     type score_level
0           19     94  20160513  routine           4
1           19     94  20171211  routine           4
2           24     96  20160311  routine           4
3           24     98  20161005  routine           4
4           24     98  20171101  routine           4

In [28]:
def rowIndex(row):
    return temp[row.name]
def rowIndex2(row):
    return temp2[row.name]

ins["diffFromPrev"]=ins.apply(rowIndex, axis=1)
ins["prevScore"]=ins.apply(rowIndex2, axis=1)

In [29]:
ins.head()

   business_id  score      date     type score_level  diffFromPrev  prevScore
0           19     94  20160513  routine           4           NaN        NaN
1           19     94  20171211  routine           4           0.0       94.0
2           24     96  20160311  routine           4           NaN        NaN
3           24     98  20161005  routine           4           2.0       96.0
4           24     98  20171101  routine           4           0.0       98.0

In [30]:
# export ins_sf
ins.to_csv("inspection_sf.csv")

In [32]:
ins[ins["diffFromPrev"]<0]

,business_id,score,date,type,score_level,diffFromPrev,prevScore
9,45,85,20170914,routine,2,-3.0,88.0
13,54,87,20170215,routine,3,-13.0,100.0
18,58,70,20170918,routine,1,-3.0,73.0
22,61,94,20171128,routine,4,-4.0,98.0
24,66,98,20160322,routine,4,-2.0,100.0
26,66,96,20170703,routine,4,-4.0,100.0
28,67,87,20160401,routine,3,-3.0,90.0
30,67,81,20170804,routine,2,-13.0,94.0
33,73,88,20171129,routine,3,-4.0,92.0
35,76,98,20161005,routine,4,-2.0,100.0
39,77,94,20171101,routine,4,-2.0,96.0
41,80,96,20171204,routine,4,-2.0,98.0
46,88,82,20171016,routine,2,-10.0,92.0
48,95,86,20160718,routine,3,-2.0,88.0
50,95,83,20171016,routine,2,-9.0,92.0
53,98,94,20171003,routine,4,-2.0,96.0
57,101,90,20170627,routine,3,-8.0,98.0
60,102,85,20161103,routine,2,-15.0,100.0
68,125,90,20170719,routine,3,-2.0,92.0
70,134,93,20170214,routine,4,-5.0,98.0
72,140,77,20171011,routine,2,-8.0,85.0
77,146,84,20160407,routine,2,-7.0,91.0
83,155,79,20170227,routine,2,-21.0,100.0
85,164,87,20161110,routine,3,-9.0,96.0
86,164,83,20170908,routine,2,-4.0,87.0
89,180,94,20161220,routine,4,-4.0,98.0
90,180,87,20170815,routine,3,-7.0,94.0
92,184,90,20180213,routine,3,-8.0,98.0
100,192,86,20170626,routine,3,-4.0,90.0
107,200,88,20170104,routine,3,-6.0,94.0
...,...,...,...,...,...,...,...
13727,89798,82,20171130,routine,2,-4.0,86.0
13732,89826,76,20180126,routine,2,-9.0,85.0
13734,89830,90,20180206,routine,3,-2.0,92.0
13736,89833,72,20171207,routine,2,-3.0,75.0
13750,89931,98,20171201,routine,4,-2.0,100.0
13761,89993,76,20171102,routine,2,-2.0,78.0
13764,90010,92,20170823,routine,4,-4.0,96.0
13770,90041,94,20170831,routine,4,-6.0,100.0
13782,90137,96,20180129,routine,4,-4.0,100.0
13800,90236,86,20171025,routine,3,-14.0,100.0
13808,90268,96,20170214,routine,4,-4.0,100.0
13811,90269,96,20171117,routine,4,-4.0,100.0
13814,90273,98,20180105,routine,4,-2.0,100.0
13826,90342,94,20170915,routine,4,-2.0,96.0
13847,90448,76,20180116,routine,2,-10.0,86.0
13856,90487,83,20180102,routine,2,-5.0,88.0
13893,90758,94,20180125,routine,4,-6.0,100.0
13913,90896,98,20170831,routine,4,-2.0,100.0
13946,91042,96,20171214,routine,4,-4.0,100.0
13960,91134,96,20170620,routine,4,-4.0,100.0
13974,91205,91,20180215,routine,4,-7.0,98.0
14004,91448,96,20180112,routine,4,-4.0,100.0
14008,91459,77,20171018,routine,2,-15.0,92.0
14021,91564,96,20171211,routine,4,-4.0,100.0
14062,91977,98,20180119,routine,4,-2.0,100.0
14070,92022,94,20170724,routine,4,-4.0,98.0
14078,92095,92,20180124,routine,4,-8.0,100.0
14135,92662,87,20180116,routine,3,-2.0,89.0
14157,92982,92,20180108,routine,4,-8.0,100.0
14219,94012,90,20180112,routine,3,-10.0,100.0

In [37]:
bus_sf[bus_sf["totalIns"]>1].shape

(4378, 11)

In [38]:
bus_sf.shape

(6092, 11)

In [39]:
4378/6092

0.7186474064346684

In [40]:
bus_sf.shape

(6092, 11)