# Exploratory Data Analysis and Data Transformation

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import seaborn as sns
sns.set_context("notebook")
import zipfile
from pathlib import Path
plt.style.use('fivethirtyeight')

In [2]:
# load datasets and check encoding
dsDir = Path('data')
bus = pd.read_csv(dsDir/Path("businesses.csv"), encoding="ISO-8859-1")
ins = pd.read_csv(dsDir/Path("inspections.csv"))
vio = pd.read_csv(dsDir/Path("violations.csv"))

## Examine datasets

In [3]:
# data size
print("size of business dataset:{}".format(len(bus)))
print("size of inspection dataset:{}".format(len(ins)))
print("size of violation dataset:{}".format(len(vio)))

size of business dataset:6399
size of inspection dataset:14233
size of violation dataset:39006

In [4]:
# identify unique ID
len(bus)==len(bus["business_id"].unique())

True

In [5]:
# check inspection date range
ins.sort_values("date").reset_index().loc[0,"date"]

20150219

In [6]:
# check basiic stats
bus.describe()

        business_id     latitude    longitude
count   6399.000000  3240.000000  3240.000000
mean   53405.685107    37.773621  -122.425907
std    35024.452170     0.022952     0.027842
min       19.000000    37.668824  -122.510896
25%     7469.000000    37.760482  -122.437095
50%    68430.000000    37.780434  -122.418943
75%    83745.000000    37.789946  -122.406633
max    94848.000000    37.824494  -122.368257

In [7]:
# check basiic stats
ins.describe()

        business_id         score          date
count  14233.000000  14233.000000  1.423300e+04
mean   45442.587227     90.700063  2.016323e+07
std    34587.329484      8.053732  8.401475e+03
min       19.000000     48.000000  2.015022e+07
25%     5640.000000     86.000000  2.016031e+07
50%    61598.000000     92.000000  2.016100e+07
75%    78368.000000     96.000000  2.017073e+07
max    94612.000000    100.000000  2.018022e+07

## Cleaning and Transformation

### Business dataset

In [8]:
# drop latitude and logitude not complete (can't analyze geogrphic locations)
bus.dropna(subset=["latitude","longitude"], inplace=True, axis=0, how="any")

In [9]:
# extract only restaurnats in SF
validZip = ["94102", "94103", "94104", "94105", "94107", "94108",
            "94109", "94110", "94111", "94112", "94114", "94115",
            "94116", "94117", "94118", "94121", "94122", "94123", 
            "94124", "94127", "94131", "94132", "94133", "94134"]
bus['zip_code'] = bus['postal_code'].str[:5]
bus_sf = bus[bus["zip_code"].isin(validZip)].copy()
bus_sf.head() #3169 rows

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,zip_code
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262,94109
1,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,94104
2,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,94133
3,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,+14156415051,94110
4,48,ART'S CAFE,747 IRVING ST,San Francisco,CA,94122,37.764013,-122.465749,+14156657440,94122

In [10]:
# Count numbser of inspections for each restaurants
ins_by_bus=ins.groupby("business_id").size().to_dict()
def calSumIns(bid):
    return ins_by_bus.get(bid, 0)
    
bus_sf["totalIns"]=bus_sf["business_id"].apply(calSumIns)
bus_sf.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,zip_code,totalIns
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262,94109,2
1,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,94104,3
2,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,94133,1
3,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,+14156415051,94110,4
4,48,ART'S CAFE,747 IRVING ST,San Francisco,CA,94122,37.764013,-122.465749,+14156657440,94122,2

In [11]:
# export bus_sf
bus_sf.to_csv("data/business_sf.csv")

# Inspection data

In [12]:
# divide inspection scores into groups according to Department of Public Health
def scoreLevel(data):
    if data<=70:
        return "1"
    elif data<=85:
        return "2"
    elif data<=90:
        return "3"
    else:
        return "4"
ins["score_level"]=ins["score"].apply(scoreLevel)
ins.head()

   business_id  score      date     type score_level
0           19     94  20171211  routine           4
1           19     94  20160513  routine           4
2           24     96  20160311  routine           4
3           24     98  20161005  routine           4
4           24     98  20171101  routine           4

In [13]:
# check the number of restaurants which had at least two inspections in our dataset
numIns2numIDs = ins[["business_id"]].groupby("business_id").size().to_dict()
numIns2numIDs={k:numIns2numIDs[k] for k in numIns2numIDs if numIns2numIDs[k]>1}
print("{} restaurnats had more than 2 inspections.".format(len(numIns2numIDs)))

4525 restaurnats had more than 2 inspections.

In [14]:
# group inspection scores and date by restaurants 
def group_to_list(group):
    return list(group)

scores_pairs_by_business = ins[ins["business_id"].isin(numIns2numIDs)][["business_id", "score", "date"]].sort_values("date").groupby("business_id", as_index=False).agg(group_to_list)
scores_pairs_by_business.head()

   business_id             score                                      date
0           19          [94, 94]                      [20160513, 20171211]
1           24      [96, 98, 98]            [20160311, 20161005, 20171101]
2           45  [78, 84, 88, 85]  [20160104, 20160614, 20170307, 20170914]
3           48          [94, 94]                      [20160630, 20180216]
4           54         [100, 87]                      [20150526, 20170215]

In [15]:
# calculate score changes between inspections based on inspection date for all restaurnats
ins=ins.sort_values(["business_id", "date"]).reset_index(drop=True)

prev_score=-1
prev_id=None
temp={} #inspection_id: score change 
temp2={} #inspection_id: last inspection score 
for k,v in ins.iterrows():
    if v["business_id"]==prev_id:
        temp[k]=v["score"]-prev_score
        temp2[k]=prev_score
    else:
        prev_id=v["business_id"]
        temp[k]=None
        temp2[k]=None
    prev_score=v["score"]

In [16]:
# combine score changes with inspection table

def rowIndex(row):
    return temp[row.name]
def rowIndex2(row):
    return temp2[row.name]

ins["diffFromPrev"]=ins.apply(rowIndex, axis=1)
ins["prevScore"]=ins.apply(rowIndex2, axis=1)
ins.head()

   business_id  score      date     type score_level  diffFromPrev  prevScore
0           19     94  20160513  routine           4           NaN        NaN
1           19     94  20171211  routine           4           0.0       94.0
2           24     96  20160311  routine           4           NaN        NaN
3           24     98  20161005  routine           4           2.0       96.0
4           24     98  20171101  routine           4           0.0       98.0

In [17]:
# export ins_sf
ins.to_csv("data/inspection_sf.csv")

In [18]:
# simple check
print("number of inspections that have higher/equal scores than/to the previous one: {}".format(len(ins[ins["diffFromPrev"]>=0])))
print("number of inspections that have lower scores than the previous one: {}".format(len(ins[ins["diffFromPrev"]<0])))

number of inspections that have higher/equal scores than/to the previous one: 4882
number of inspections that have lower scores than the previous one: 3593

## visualization

https://github.com/3innielee/food-safety-sf/blob/master/resource/viz1.png